SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_KEY=your-secret-key
DATABASE_URL=postgresql://postgres:your-password@db.xxxx.supabase.co:5432/postgres
SUPABASE_JWT_SECRET=your-jwt-secret-from-supabase-dashboard-settings-api
DEMO_ACCOUNT_EMAIL=demo@smartmobility.it
